body {
  background: linear-gradient(90deg, #500005 0%, #500100 5%, black 50%);
  color: #ffffff;
}

#app {
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
  font-family: "Roboto", sans-serif;
}
